@(parentCollection: Collection, childCollections: List[Collection], datasets: List[Dataset], userRoleMap: Map[User, String])(implicit user: Option[models.User])

@import play.api.Play.current

@main(parentCollection.name) {


    <div class="row space-head vertical-align">

            <div class="col-md-12 col-lg-12 col-sm-12">

            <h1 id="collectionnamedisplay">@parentCollection.name

            </h1>
            <p><span id="collectiondescdisplay">@parentCollection.description</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 space-col-left">
            @collections.collectionsByParentCollection(childCollections, parentCollection.id.stringify)
            @collections.datasetsByParentCollection(datasets, parentCollection.id.stringify)
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 space-col-right">
            @** spaces.otherActions(space, userRoleMap) **@
            @** spaces.externalLinks(space.homePage) **@
            @if(play.api.Play.configuration.getBoolean("enable_expiration").getOrElse(false)) {
                @** spaces.spaceConfiguration(space) **@
            }
        </div>
    </div>
}
