@(metadata: List[models.PromotedMetadata])(implicit user: Option[models.User])

@import play.api.i18n.Messages
@import _root_.util.Formatters._

@main("Promote Extracted Metadata Fields") {

    <script src="@routes.Assets.at("javascripts/metadata/managePromotedMetadata.js")" type="text/javascript"></script>

    <div class="page-header">
        <h1>Promote Extracted Metadata Fields</h1>
        <p>Choose the extractor-generated metadata fields that you would like to appear on the
            <a href="@routes.Metadata.search()">Advanced Search</a> page by default.
        </p>
        <p>After making necessary changes, please press the 'Submit changes' button at the bottom.
        </p>
    </div>

    <div class="row">
        <div class="panel panel-default col-lg-7 col-md-7">
            <div class="panel-body">
                <form class="form top-padding" id="metadata-promote">
                    <div class="row">
                        <div id="metadata-container">
                                <!-- METADATA FIELD ROWS (populated by script below) -->
                            <div id="metadata-rows"></div>
                        </div>
                    </div>

                    <div class="row">
                            <!-- SUBMIT BTN -->
                        <div class="form-group col-lg-3 col-md-3">
                            <button type="submit" class="btn btn-primary">Submit changes</button>
                            <span id="mt-promote-submit-feedback"></span>
                        </div>
                            <!-- RESET BTN -->
                        <div class="form-group col-lg-2 col-md-2">
                            <button type="button" class="btn btn-primary" onclick="resetPage()">Reset</button>
                            <span id="mt-promote-reset-feedback"></span>
                        </div>
                            <!-- ADD ROWS BTN -->
                        <div class="form-group col-lg-3 col-md-3">
                            <a class='btn btn-default' id='add-clause'>
                                <span class='glyphicon glyphicon-plus'></span> Add more rows
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        var rowList = [];
        var $form = $( "form[id='metadata-promote']");
        var rowCount = 0;
        var selectedMetadataList = [];
        var existingMetadataList = [];
        $("#add-metadata-grouping").select2({
            theme: "bootstrap",
            allowClear: false,
            width: "100%"
        });

        populatePromotedMetadataFields();

        function populatePromotedMetadataFields() {

            getPromotedMetadataFields().then(
                    function (response) {
                        existingMetadataList = response;

                        for (var i=0; i < existingMetadataList.length; i++) {
                            addMetadataFieldRows(++rowCount, "submitted", existingMetadataList[i].json)
                        }

                        // Add a new row for the user to get started with
                        addMetadataFieldRows(++rowCount, "new");
                    },
                    function(error) {
                        notify(error + ". Fetching promoted metadata fields failed.", "error");
                    }
            );
        }

        // Add a new row to the set of criteria
        function addMetadataFieldRows(rowId, rowType, rowData) {
            var rowStr = String(rowId);

            rowList.push(rowStr);

            if (rowType === "saved" || rowType === "submitted") {
                var dataId = rowData.uri;
                var dataText = rowData.label;
                var dataGroup = dataId.substring(dataId.indexOf('/extractors/') + 12, dataId.lastIndexOf('.'));
                var dataGroupText = dataGroup + " (Extractor)";

                // Basic new row definition
                $("#metadata-rows").append(
                    $(
                        "<div id='metadata-clause-" + rowType + "-" + rowStr + "'>" +
                            <!-- FIELD SELECTOR DROPDOWN -->
                            "<div class='form-group col-lg-8 col-md-8'>" +
                                "<select id='" + rowType + "-metadata-select-" + rowStr + "'>" +
                                    "<option title='" + dataGroupText + "' selected value='" + dataId +"'>" + dataText +
                                    "</option>" +
                                "</select>" +
                            "</div>" +
                                <!-- EDIT ROW BUTTON -->
                            "<div title='Edit row' class='form-group col-lg-1 col-md-1'>" +
                                "<button type='button' class='btn' id='edit-" + rowStr + "' " +
                                    "onclick='editRow(" + rowStr + ",\"" + rowType + "\")'>" +
                                    "<span class='glyphicon glyphicon-edit'></span>" +
                                "</button>" +
                            "</div>" +
                                <!-- DELETE ROW BUTTON -->
                            "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                                "<button class='btn' id='remove-saved-" + rowStr + "' " +
                                    "onclick='removeRow(" + rowStr + ",\"" + rowType + "\")'>" +
                                    "<span class='glyphicon glyphicon-minus'></span>" +
                                "</button>" +
                            "</div>" +
                        "</div>"
                    )
                );

                var metadataSelectStr = "#" + rowType + "-metadata-select-" + rowStr;
                $(metadataSelectStr).select2({
                    theme: "bootstrap",
                    width: "100%",
                    allowClear: true
                }).prop("disabled", true);

            }
            else if (rowType === "new" ) {

                // Basic saved row definition
                $("#metadata-rows").append(
                    $(
                        "<div id='metadata-clause-" + rowType + "-" + rowStr + "'>" +
                                <!-- FIELD SELECTOR DROPDOWN -->
                            "<div class='form-group col-lg-8 col-md-8'>" +
                                "<select id='add-metadata-select-" + rowStr + "'>" +
                                    "<option value=''></option>" +
                                "</select>" +
                            "</div>" +
                            <!-- SAVE ROW BUTTON -->
                            "<div title='Save row' class='form-group col-lg-1 col-md-1'>" +
                                "<button type='button' class='btn' id='save-" + rowStr + "' " +
                                    "onclick='saveRow(" + rowStr + ",\"saved\")'>" +
                                    "<span class='glyphicon glyphicon-save'></span>" +
                                "</button>" +
                            "</div>" +
                                <!-- DELETE ROW BUTTON -->
                            "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                                "<button class='btn' id='remove-" + rowStr + "' " +
                                    "onclick='removeRow(" + rowStr + ",\"" + rowType + "\")'>" +
                                    "<span class='glyphicon glyphicon-minus'></span>" +
                                "</button>" +
                            "</div>" +
                        "</div>"
                    )
                );

                document.getElementById("add-clause").onclick = function () { ++rowCount;
                    addMetadataFieldRows(rowId + 1, "new");};

                var $addMetadataSelect = $("#add-metadata-select-" + rowStr);

                $addMetadataSelect.empty();

                // Select box will populate as user types, with metadata field autocomplete suggestions
                $addMetadataSelect.select2({
                    theme: "bootstrap",
                    placeholder: "Start typing metadata field here...",
                    allowClear: true,
                    width: "100%",
                    ajax: {
                        url: function(filter) {
                            // Get autocomplete results if typing; otherwise return standard set of definitions
                                return jsRoutes.api.Metadata.getAutocompleteName(filter.term).url;
                        },
                        // Populate autocomplete as user types
                        processResults: function(data, page) {
                            var outMap = {};
                            var entryGroup = {};
                            var entryData = {};

                            for (var rez=0; rez<data.length; rez++) {
                                var entry = data[rez];

                                // Get extractor-generated metadata field names
                                // Filter out metadata field names that have already been selected in any of the other
                                // new select HTML elements
                                if (entry.indexOf('metadata.') > -1 && entry.indexOf('/extractors/') > -1 &&
                                        selectedMetadataList.indexOf(entry) == -1) {
                                    // Group extractor-specific fields together under extractor
                                    entryGroup = entry.substring(
                                                    entry.indexOf('/extractors/') + 12,
                                                    entry.lastIndexOf('.')) + " (Extractor)";
                                    entryData = {
                                        id: entry,
                                        text: entry.substring(entry.lastIndexOf('.') + 1, entry.length)
                                    };

                                    if (!outMap.hasOwnProperty(entryGroup))
                                        outMap[entryGroup] = [];
                                    outMap[entryGroup].push(entryData)
                                }
                            }

                            var outList = [];
                            for (var group in outMap) {
                                if (group == "") {
                                    for (var ungrouped=0; ungrouped<outMap[group].length; ungrouped++)
                                        outList.push(outMap[group][ungrouped])
                                } else
                                    outList.push({"text":group, "children": outMap[group]})
                            }

                            console.log(outList);
                            return {
                                results: outList
                            };
                        }
                    }
                });

                // Add metadata field name to selected list when selected
                $addMetadataSelect.on('select2:select', function (event) {
                    selectedMetadataList.push($(this).val());
                });

                // Remove metadata field name from selected list when unselected
                $addMetadataSelect.on('select2:unselect', function (event) {
                    selectedMetadataList.splice(selectedMetadataList.indexOf($(this).val()), 1);
                });
            }
        }

        function saveRow(rowId, newRowType) {
            var rowStr = String(rowId);
            var currentRowType = "new";
            var selectStr = "#add-metadata-select-" + rowStr;
            var dataId = $(selectStr).val();
            var dataText = $(selectStr + " :selected").text();

            if (newRowType == null) {
                newRowType = "saved";
            }

            if (dataId != null && dataId != undefined && dataText != null && dataText != undefined) {

                var dataGroup = dataId.substring(dataId.indexOf('/extractors/') + 12, dataId.lastIndexOf('.'));
                var dataGroupText = dataGroup + " (Extractor)";
                var $metadataClause = $("#metadata-clause-" + currentRowType + "-" + rowStr);

                $metadataClause.replaceWith(
                    "<div id='metadata-clause-" + newRowType + "-" + rowStr + "'>" +
                        <!-- FIELD SELECTOR DROPDOWN -->
                        "<div class='form-group col-lg-8 col-md-8'>" +
                            "<select id='" + newRowType + "-metadata-select-" + rowStr + "'>" +
                                "<option title='" + dataGroupText + "' selected value='" + dataId +"'>" + dataText +
                                "</option>" +
                            "</select>" +
                        "</div>" +
                            <!-- EDIT ROW BUTTON -->
                        "<div title='Edit row' class='form-group col-lg-1 col-md-1'>" +
                            "<button type='button' class='btn' id='edit-" + rowStr + "' " +
                                "onclick='editRow(" + rowStr + ",\"" + newRowType + "\")'>" +
                                "<span class='glyphicon glyphicon-edit'></span>" +
                            "</button>" +
                        "</div>" +
                            <!-- DELETE ROW BUTTON -->
                        "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                            "<button class='btn' id='remove-saved-" + rowStr + "' " +
                                "onclick='removeRow(" + rowStr + ",\"" + newRowType + "\")'>" +
                                "<span class='glyphicon glyphicon-minus'></span>" +
                            "</button>" +
                        "</div>" +
                    "</div>"
                );

                var metadataSelectStr = "#" + newRowType + "-metadata-select-" + rowStr;
                $(metadataSelectStr).select2({
                    theme: "bootstrap",
                    width: "100%",
                    allowClear: true
                }).prop("disabled", true);

                // Hide dropdown arrow in save mode
                $("#" + "metadata-clause-" + newRowType + "-" + rowStr).find("b[role='presentation']").hide();
            } else {
                removeRow(rowId, currentRowType);
            }
            console.log("saved");
        }

        function editRow(rowId, currentRowType) {
            var rowStr = String(rowId);
            var rowType = "new";
            var metadataSelectStr = "#" + currentRowType + "-metadata-select-" + rowStr;
            var dataId = $(metadataSelectStr).val();
            var dataText = $(metadataSelectStr + " :selected").text();
            var dataGroup = dataId.substring(dataId.indexOf('/extractors/') + 12, dataId.lastIndexOf('.'));
            var dataGroupText = dataGroup + " (Extractor)";
            var $metadataClause = $("#metadata-clause-" + currentRowType + "-" + rowStr);

            $metadataClause.replaceWith(
                "<div id='metadata-clause-" + rowType + "-" + rowStr + "'>" +
                        <!-- FIELD SELECTOR DROPDOWN -->
                    "<div class='form-group col-lg-8 col-md-8'>" +
                        "<select id='add-metadata-select-" + rowStr + "'>" +
                            "<option selected value='" + dataId + "'>" + dataText + "</option>" +
                        "</select>" +
                    "</div>" +
                        <!-- SAVE ROW BUTTON -->
                    "<div title='Save row' class='form-group col-lg-1 col-md-1'>" +
                        "<button type='button' class='btn' id='save-" + rowStr + "' " +
                            "onclick='saveRow(" + rowStr + ",\"saved\")'>" +
                            "<span class='glyphicon glyphicon-save'></span>" +
                        "</button>" +
                    "</div>" +
                        <!-- DELETE ROW BUTTON -->
                    "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                        "<button class='btn' id='remove-" + rowStr + "' " +
                            "onclick='removeRow(" + rowStr + ",\"" + rowType + "\")'>" +
                            "<span class='glyphicon glyphicon-minus'></span>" +
                        "</button>" +
                    "</div>" +
                "</div>"
            );

            var $addMetadataSelect = $("#add-metadata-select-" + rowStr);

            // Select box will populate as user types, with metadata field autocomplete suggestions
            $addMetadataSelect.select2({
                theme: "bootstrap",
                placeholder: "Start typing metadata field here...",
                allowClear: true,
                width: "100%",
                ajax: {
                    url: function(filter) {
                        // Get autocomplete results if typing; otherwise return standard set of definitions
                        return jsRoutes.api.Metadata.getAutocompleteName(filter.term).url;
                    },
                    // Populate autocomplete as user types
                    processResults: function(data, page) {
                        var outMap = {};
                        var entryGroup = {};
                        var entryData = {};

                        for (var rez=0; rez<data.length; rez++) {
                            var entry = data[rez];

                            // Get extractor-generated metadata field names
                            // Filter out metadata field names that have already been selected in any of the other
                            // new select HTML elements
                            if (entry.indexOf('metadata.') > -1 && entry.indexOf('/extractors/') > -1 &&
                                    selectedMetadataList.indexOf(entry) == -1) {
                                // Group extractor-specific fields together under extractor
                                entryGroup = entry.substring(
                                                entry.indexOf('/extractors/') + 12,
                                                entry.lastIndexOf('.')) + " (Extractor)";
                                entryData = {
                                    id: entry,
                                    text: entry.substring(entry.lastIndexOf('.') + 1, entry.length)
                                };

                                if (!outMap.hasOwnProperty(entryGroup))
                                    outMap[entryGroup] = [];
                                outMap[entryGroup].push(entryData)
                            }
                        }

                        var outList = [];
                        for (var group in outMap) {
                            if (group == "") {
                                for (var ungrouped=0; ungrouped<outMap[group].length; ungrouped++)
                                    outList.push(outMap[group][ungrouped])
                            } else
                                outList.push({"text":group, "children": outMap[group]})
                        }

                        console.log(outList);
                        return {
                            results: outList
                        };
                    }
                }
            });

            // Add metadata field name to selected list when selected
            $addMetadataSelect.on('select2:select', function (event) {
                selectedMetadataList.push($(this).val());
            });

            // Remove metadata field name from selected list when unselected
            $addMetadataSelect.on('select2:unselect', function (event) {
                selectedMetadataList.splice(selectedMetadataList.indexOf($(this).val()), 1);
            });
            console.log("edit");
        }

        function removeRow(rowId, rowType) {
            var rowStr = String(rowId);
            var dataId = $("#" + rowType + "-metadata-select-" + rowStr).val();
            $("#metadata-clause-" + rowType + "-" + rowStr).remove();
            rowList.splice(rowList.indexOf(rowStr), 1);
            // Remove metadata field name from selected list when the row is removed
            selectedMetadataList.splice(selectedMetadataList.indexOf(dataId), 1);
        }

        // form submission
        $form.submit(function( event ) {
            event.preventDefault();
            //
            var dataMap = [];
            var dataList = [];
            var i;

            // Generate data map
            for (i = 1; i <= rowCount; i++) {
                var $newSelect = $("#add-metadata-select-" + i);
                var $savedSelect = $("#saved-metadata-select-" + i);

                if ($newSelect.val() != null) {
                    dataMap[$newSelect.val()] = $newSelect.text();
                }

                if ($savedSelect.val() != null) {
                    dataMap[$savedSelect.val()] = $savedSelect.text();
                }
            }

            // Generate data list from map
            for (var key in dataMap) {
                dataList.push({uri: key, label: dataMap[key]})
            }

            // Display the results
            for (var row=1; row <= rowCount; row++) {
                saveRow(row, "submitted");
            }

            for (var index in dataList) {
                addPromotedMetadata(dataList[index]);
            }

            console.log(dataList);
            console.log("Submitted changes");
        });

        function resetPage() {
            // Reset variables
            $("#metadata-rows").empty();
            rowList.length = 0;
            rowCount = 0;

            // Populate data
            populatePromotedMetadataFields();
            console.log("Reset changes");
        }

    </script>

}
