@()(implicit user: Option[models.User])

@import play.api.i18n.Messages
@import _root_.util.Formatters._

@main("Promote Extracted Metadata Fields") {

    <div class="page-header">
        <h1>Promote Extracted Metadata Fields</h1>
        <p>Choose the extractor-generated metadata fields that you would like to appear on the
            <a href="@routes.Metadata.search()">Advanced Search</a> page by default.
        </p>
        <p>After making necessary changes, please press the 'Submit changes' button at the bottom.
        </p>
    </div>

    <div class="row">
        <div class="panel panel-default col-lg-7 col-md-7">
            <div class="panel-body">
                <form class="form top-padding" id="metadata-promote">
                    <div class="row">
                        <div id="metadata-container">
                                <!-- METADATA FIELD ROWS (populated by script below) -->
                            <div id="metadata-rows"></div>
                        </div>
                    </div>

                    <div class="row">
                            <!-- SUBMIT BTN -->
                        <div class="form-group col-lg-3 col-md-3">
                            <button type="submit" class="btn btn-primary">Submit changes</button>
                            <span id="mt-promote-submit-feedback"></span>
                        </div>
                            <!-- RESET BTN -->
                        <div class="form-group col-lg-2 col-md-2">
                            <button type="button" class="btn btn-primary" onclick="resetPage()">Reset</button>
                            <span id="mt-promote-reset-feedback"></span>
                        </div>
                            <!-- ADD ROWS BTN -->
                        <div class="form-group col-lg-3 col-md-3">
                            <a class='btn btn-default' id='add-clause'>
                                <span class='glyphicon glyphicon-plus'></span> Add more rows
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        var rowList = [];
        var $form = $( "form[id='metadata-promote']");
        $("#add-metadata-grouping").select2({
            theme: "bootstrap",
            allowClear: false,
            width: "100%"
        });

        // TODO: Temporary logic for displaying a few rows. Should be removed once database communication is in place
        for(var i = 0; i < 5; i++){
            addMetadataFieldRows(i+1, "saved");
        }
        addMetadataFieldRows(6, "new");

        // Add a new row to the set of criteria
        function addMetadataFieldRows(rowId, rowType) {
            var rowStr = String(rowId);

            rowList.push(rowStr);

            if (rowType === "saved" ) {

                // Basic new row definition
                $("#metadata-rows").append(
                    $(
                        //"<p>" +
                        "<div id='metadata-clause-" + rowType + "-" + rowStr + "'>" +
                            <!-- FIELD SELECTOR DROPDOWN -->
                            "<div class='form-group col-lg-8 col-md-8'>" +
                                "<input style='width: 100%;' type='text' class='form-control-static' " +
                                "id='saved-metadata-text-" + rowStr + "' value='Metadata field " + rowStr +
                                "' disabled='disabled'/>" +
                            "</div>" +
                                <!-- EDIT ROW BUTTON -->
                            "<div title='Edit row' class='form-group col-lg-1 col-md-1'>" +
                                "<button type='button' class='btn' id='edit-" + rowStr + "' " +
                                    "onclick='editRow(" + rowStr + ")'>" +
                                    "<span class='glyphicon glyphicon-edit'></span>" +
                                "</button>" +
                            "</div>" +
                                <!-- DELETE ROW BUTTON -->
                            "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                                "<button class='btn' id='remove-saved-" + rowStr + "' " +
                                    "onclick='removeRow(" + rowStr + ",\"" + rowType + "\")'>" +
                                    "<span class='glyphicon glyphicon-minus'></span>" +
                                "</button>" +
                            "</div>" +
                        "</div>"
                    )

                );
            }
            else if (rowType === "new" ) {

                // Basic saved row definition
                $("#metadata-rows").append(
                    $(
                        //"<p>" +
                        "<div id='metadata-clause-" + rowType + "-" + rowStr + "'>" +
                                <!-- FIELD SELECTOR DROPDOWN -->
                            "<div class='form-group col-lg-8 col-md-8'>" +
                                "<select id='add-metadata-select-" + rowStr + "'>" +
                                    "<option value=''></option>" +
                                "</select>" +
                            "</div>" +
                            <!-- SAVE ROW BUTTON -->
                            "<div title='Save row' class='form-group col-lg-1 col-md-1'>" +
                                "<button type='button' class='btn' id='save-" + rowStr + "' " +
                                    "onclick='saveRow(" + rowStr + ")'>" +
                                    "<span class='glyphicon glyphicon-save'></span>" +
                                "</button>" +
                            "</div>" +
                                <!-- DELETE ROW BUTTON -->
                            "<div title='Delete row' class='form-group col-lg-1 col-md-1'>" +
                                "<button class='btn' id='remove-" + rowStr + "' " +
                                    "onclick='removeRow(" + rowStr + ",\"" + rowType + "\")'>" +
                                    "<span class='glyphicon glyphicon-minus'></span>" +
                                "</button>" +
                            "</div>" +
                        "</div>"
                    )
                );

                document.getElementById("add-clause").onclick = function () { addMetadataFieldRows(rowId + 1, "new");};

                var addMetadataSelectStr = "#add-metadata-select-" + rowStr;

                $(addMetadataSelectStr).empty();

                // Select box will populate as user types, with metadata field autocomplete suggestions
                $(addMetadataSelectStr).select2({
                    theme: "bootstrap",
                    placeholder: "Start typing metadata field here...",
                    allowClear: true,
                    width: "100%",
                    ajax: {
                        url: function(filter) {
                            // Get autocomplete results if typing; otherwise return standard set of definitions
                                return jsRoutes.api.Metadata.getAutocompleteName(filter.term).url;
                        },
                        // Populate autocomplete as user types
                        processResults: function(data, page) {
                            var outMap = {};
                            var entryGroup = {};
                            var entryData = {};

                            for (var rez=0; rez<data.length; rez++) {
                                var entry = data[rez];

                                // Get extractor-generated metadata field names
                                if (entry.indexOf('metadata.') > -1 && entry.indexOf('/extractors/') > -1) {
                                    // Group extractor-specific fields together under extractor
                                    entryGroup = entry.substring(
                                                    entry.indexOf('/extractors/') + 12,
                                                    entry.lastIndexOf('.')) + " (Extractor)";
                                    entryData = {
                                        id: entry,
                                        text: entry.substring(entry.lastIndexOf('.') + 1, entry.length)
                                    };

                                    if (!outMap.hasOwnProperty(entryGroup))
                                        outMap[entryGroup] = [];
                                    outMap[entryGroup].push(entryData)
                                }
                            }

                            var outList = [];
                            for (var group in outMap) {
                                if (group == "") {
                                    for (var ungrouped=0; ungrouped<outMap[group].length; ungrouped++)
                                        outList.push(outMap[group][ungrouped])
                                } else
                                    outList.push({"text":group, "children": outMap[group]})
                            }

                            //console.log(outList);
                            return {
                                results: outList
                            };
                        }
                    }
                });
            }
        }

        function saveRow(rowId) {
            console.log("saved");
        }

        function editRow(rowId) {
            console.log("edit");
        }

        function removeRow(rowId, rowType) {
            var rowStr = String(rowId);
            $("#metadata-clause-" + rowType + "-" + rowStr).remove();
            rowList.splice(rowList.indexOf(rowStr), 1);
        }

        // form submission
        $form.submit(function( event ) {
            event.preventDefault();
            //
            console.log("Submitted changes");
        });

        function resetPage() {
            console.log("Reset changes");
        }


    </script>

}
