div.blending{
  width: 100%;
  background: #111;
  color: #bbbbbb;
  font-size: 75%;
  margin: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding: 5px 0 10px 0;
  text-align: center;
  background: #222;
  font-size: 8pt;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
div.blending h2{
  text-align: center;
  font-size: 10pt;
  margin-top: 0.3em;
  line-height: 1em;
  text-shadow: 0.5px 0.5px 1px #888;
}
div.blending select{
  display: span;
  position: relative;
  background: transparent;
  color: #bbb;
  border: 1px solid #bbbbbb;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 8pt;
  border-color: #666;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}
div.blending option{
  background: #222;
  color:#bbb;
  border: 1px solid #bbbbbb;
  width: 100%;
}
div.blending:hover{
  opacity: 1;
  filter: alpha(opacity=100)
  box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -o-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
}

div.blending span{ 
  font-size: 6pt;
  margin-right: 1em;
}
div.blending div#area{
  text-align: left;
  background: #333333;
  border: 1px solid #444444;
  width: 90%;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
}
div.blending div#area div#knob{
  color: #444444;
  top: -6px;
  height: 15px;
  width: 8px;
  background: #bbb;
  cursor: move;
  margin: 0px;
  border: 1px solid #888;
  background: #b8bac6; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGJhYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #b8bac6 0%, #dbdce2 30%, #f5f6f6 49%, #dddfe3 70%, #b8bac6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8bac6), color-stop(30%,#dbdce2), color-stop(49%,#f5f6f6), color-stop(70%,#dddfe3), color-stop(100%,#b8bac6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #b8bac6 0%,#dbdce2 30%,#f5f6f6 49%,#dddfe3 70%,#b8bac6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #b8bac6 0%,#dbdce2 30%,#f5f6f6 49%,#dddfe3 70%,#b8bac6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #b8bac6 0%,#dbdce2 30%,#f5f6f6 49%,#dddfe3 70%,#b8bac6 100%); /* IE10+ */
  background: linear-gradient(left, #b8bac6 0%,#dbdce2 30%,#f5f6f6 49%,#dddfe3 70%,#b8bac6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bac6', endColorstr='#b8bac6',GradientType=1 ); /* IE6-8 */
}
