@(resType: String, id: String, mDefs: List[MetadataDefinition], contentDiv: String)(implicit user: Option[models.User])
@import api.Permission
@import play.api.libs.json._
@*The permission for curationObject and CurationFile is check outside this file*@
@if(resType == "dataset" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.dataset, UUID(id)))
        || resType == "file" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.file, UUID(id)))
        || resType.startsWith("curation")) {
    <div id="@id" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 id='actionLabel'>Add metadata</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-md">
                        <select id="add-metadata-select-@id">
                            <option value=""></option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="selected_field" class="row"></div>
        </div>
    </div>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-timepicker-addon.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/metadata/metadata.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-1.0.5.min.js")"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-wkt-parser-1.1.0.min.js")"></script>
@if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined) {
  <script src="@routes.Assets.at("javascripts/creators.js")" type="text/javascript"></script>
}

<style>
.ui-autocomplete-category {
font-weight: bold;
padding: .2em .4em;
margin: .8em 0 .2em;
line-height: 1.5;
}
</style>

<script language="javascript">
    // submit metadata entry to server
    function submit_@id
    (event){
        event.preventDefault();
        var entry = getContextAndContent("@id", "field-value");
         if (!entry.error) {
            var body = {
                    "@@context": entry.contexts,
                    "@(resType)_id": "@id",
                    "content_ld": entry.content
            };

           
                var request = jsRoutes.api.Metadata.addUserMetadata().ajax({
                    data: JSON.stringify(body),
                    type: 'POST',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                    // reset submission value
                    $("#@id  .selected_field").empty();
                    $("#@id #add-metadata-select-@id").val('').trigger("chosen:updated");
                    
                    
                    if($('#'+'@contentDiv'+' .panel').length == 0) {
                        $('#@contentDiv > div:first-child').empty();
                    }
                    addEntries("@id", response);
                    notify("Metadata successfully added.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not added due to : " + errorThrown, "error");
                    }
                });
            }else {
              notify("Unable to parse new metadata value", "error", false, 2000);
            }

        }
    
    
    
    // update(edit) metadata entry to server
    function update_@id
    (event){
        event.preventDefault();
		var entry = getContextAndContent("@id", "field-value");
		if (!entry.error) {
            var body = {
                    "@@context": entry.contexts,
                    "content_ld": entry.content
            };
 
            var entry_id = $("#@id  #field-value").data("entry-id");
            var field_label = $("#@id  #field-value").data("label");
            var field_id = $("#@id  #field-value").data("id");
            var field_type = $("#@id  #add-metadata-select-@id option[value='" + field_id+ "']").data("type");
            
                var request = jsRoutes.api.Metadata.updateMetadata('@resType', '@id', entry_id).ajax({
                    data: JSON.stringify(body),
                    type: 'PUT',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                	//update changed value
                	  $("#"+entry_id).replaceWith($("<div/>").addClass("metadataentry " + field_type).attr("id",response.id).append($("<span/>").text(response.value)));
                	  if(field_type === 'listgeocode') {
                	    expandGeocodes();
                	  } else if(field_type === 'person') {
                	    expandPeople();
                	  } else if (field_type = 'scientific_variable') {
                	    expandSciVariables();
                	  }
			          addIcons("@id", $('#'+response.id));
                	//Update modified date
                	var today = new Date();
        			var mon =m_names[today.getMonth()];
        			var day = today.getDate();
        			var year = today.getFullYear();
                	//modify date/person

  		   		    $("#heading_" + safe(field_label)).find('.metaprov').html('<a title="Reload to update history">last modified</a> ' + mon + ' ' + day + ', ' + year + ' by ').append($('<a/>').attr('href','@routes.Profile.viewProfileUUID(user.get.getMiniUser.id)').text('@user.get.getMiniUser.fullName'));
                	
                    // reset submission value
                    $("#@id  .selected_field").empty();
                    $("#@id #add-metadata-select-@id").val('').trigger("chosen:updated");
                    $('#actionLabel').text("Add Metadata");
                    
                    
                    if($('#'+'@contentDiv'+' .panel').length == 0) {
                        $('#@contentDiv > div:first-child').empty();
                    }
                    $('html, body').animate({
        			  scrollTop: $("#" + response.id).closest('.mdblock').offset().top-50
	      			}, 1000);
	    
                    notify("Metadata successfully updated.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not added due to : " + errorThrown, "error");
                    }
                });
            } else {
              notify("Unable to parse new metadata value", "error", false, 2000);
            }

        }
    
    

       
		      
    
    var fields = null;
    var showSpaceInfo = true; //(spaceId == "") ? false:true;
    // get metadata definitions
    fields = @Html(Json.stringify(Json.toJson(mDefs.sortWith( _.json.\("label").asOpt[String].getOrElse("") < _.json.\("label").asOpt[String].getOrElse("") ))));
        for (var i = 0; i < fields.length; i++) {
        
          if( fields[i].json.addable!=false) {
            var elem = $("<option></option>");
            elem.attr("data-description", fields[i].json.description);
            elem.attr("data-type", fields[i].json.type);
            elem.attr("data-id", fields[i].id);
            elem.attr("value", fields[i].json.uri);
            if(typeof fields[i].json.definitions_url !== "undefined") {
              elem.attr("data-service", fields[i].json.definitions_url);
            }
            if(typeof fields[i].json.query_parameter !== "undefined") {
              elem.attr("data-param", fields[i].json.query_parameter);
            }
            elem.attr("space_id", fields[i].spaceId);
            elem.text(fields[i].json.label);
            $("#@id  #add-metadata-select-@id").append(elem);
          }
        }
        // chosen pulldown configuration
        $("#@id  #add-metadata-select-@id").chosen({
            search_contains: true,
            width: "100%",
            placeholder_text_single: "Select field"});
        // register selection listener
        $("#@id  #add-metadata-select-@id").change(function () {
            $("#@id  #add-metadata-select-@id option:selected").each(function() {
            	displayAddEditForm("@id", this, null, 
            		Handlebars.getTemplate("@routes.Assets.at("templates/metadata/footer")"), 
            		"@routes.Assets.at("templates/metadata/")");
            });
        });
        
    
      function editMDEntry(id, md_id) {

        //Use id to find uri for term, then use the <option> entry for that term to invoke an edit
        var uri = $("#" + md_id).closest(".mdblock").find(".pred").attr("title");
      
        displayAddEditForm(id, $("#"+id+"  #add-metadata-select-"+id+" option[value='" + uri+ "'] "), md_id, 
        	Handlebars.getTemplate("@routes.Assets.at("templates/metadata/footer")"),
        	"@routes.Assets.at("templates/metadata/")");
        
        $('html, body').animate({
          scrollTop: $("#"+id).offset().top-50
	      }, 1000);
	    
      }
      
</script>
}
