@(resType: String, id: String, contentDiv: String)(implicit user: Option[models.User])
@import api.Permission
@*The permission for curationObject and CurationFile is check outside this file*@
@if(resType == "dataset" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.dataset, UUID(id)))
        || resType == "file" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.file, UUID(id)))
        || resType.startsWith("curation")) {
    <div id="@id" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h5>Add metadata</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-md">
                        <select id="add-metadata-select">
                            <option value=""></option>
                        </select>
                    </form>
                </div>
            </div>

            <div id="selected_field" class="row"></div>
        </div>
    </div>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-timepicker-addon.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-1.0.5.min.js")"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-wkt-parser-1.1.0.min.js")"></script>


<script language="javascript">
    // submit metadata entry to server
    function submit_@id
    (event){
        event.preventDefault();
        var field_label = $("#@id  #field-value").data("label");
        var field_id = $("#@id  #field-value").data("id");
        var field_type = $("#@id  #add-metadata-select option:selected").data("type");
        var field_value = "";
        var field_types_with_simple_values = {"string": 1, "listjquery": 1, "listgeocode": 1, "scientific_variable": 1,
            "datetime": 1, "wkt": 1};
        if (field_type in field_types_with_simple_values) {
            field_value = $("#@id  #field-value").val();
        } else if (field_type === "list") {
            field_value = $("#@id  #field-value option:selected").val();
        }  else {
            console.log("Wrong field type: " + field_type);
        }

        var error = false;
        if (field_value != "") {
            // define contexts
            var contexts = [];
            contexts.push("https://clowder.ncsa.illinois.edu/contexts/metadata.jsonld");
            var context = {};
            context[field_label] = field_id;
            context["content_ld"] = "https://clowder.ncsa.illinois.edu/metadata#content_ld"
            contexts.push(context);

            var content = {};
            if (field_type === "listgeocode") {
                // geocode example: "Champaign, IL, USA: 40.12, -88.24"
                var parts = field_value.split(":");
                var geoval = {};
                geoval["Label"] = parts[0].trim();
                var lat_lng = parts[1].trim().split(",");
                geoval["Latitude"] = lat_lng[0].trim();
                geoval["Longitude"] = lat_lng[1].trim();
                content[field_label] = geoval;
                context["Latitude"]= "http://www.w3.org/2003/01/geo/wgs84_pos#lat";
                context["Longitude"]= "http://www.w3.org/2003/01/geo/wgs84_pos#lon";
                context["Label"]= "http://www.w3.org/2000/01/rdf-schema#label";
            } else if (field_type === "scientific_variable") {
                content[field_label] = field_value;
                var unit_val = $("#@id #unit-value").val();
                if (unit_val) {
                    content["Unit"] = unit_val;
                }
            } else if (field_type === "wkt") {
                try {
                    var primitive = Terraformer.WKT.parse(field_value);
                    content["GeoJSON"] = primitive;
                } catch(err) {
                    notify("There is an error in your WKT. " + err, "error", false, 2000);
                    error = true;
                }
            } else {
                content[field_label] = field_value;
            }

            var body = {
                    "@@context": contexts,
                    "@(resType)_id": "@id",
                    "content_ld": content
            };

            if (!error) {
                var request = jsRoutes.api.Metadata.addUserMetadata().ajax({
                    data: JSON.stringify(body),
                    type: 'POST',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                    // reset submission value
                    $("#@id  #selected_field").empty();
                    $("#@id #add-metadata-select").val('').trigger("chosen:updated");
                    
                    
                    if($('#'+'@contentDiv'+' .panel').length == 0) {
                        $('#' + "@contentDiv").empty();
                    }
                    addEntries(response);
                    notify("Metadata successfully added.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not added due to : " + errorThrown, "error");
                    }
                });
            }

        }
    }
    
    
    // update(edit) metadata entry to server
    function update_@id
    (event){
        event.preventDefault();
        var field_label = $("#@id  #field-value").data("label");
        var field_id = $("#@id  #field-value").data("id");
        var entry_id = $("#@id  #field-value").data("entry-id");
        var field_type = $("#@id  #add-metadata-select option[value='" + field_id+ "']").data("type");
        
        var field_value = "";
        var field_types_with_simple_values = {"string": 1, "listjquery": 1, "listgeocode": 1, "scientific_variable": 1,
            "datetime": 1, "wkt": 1};
        if (field_type in field_types_with_simple_values) {
            field_value = $("#@id  #field-value").val();
        } else if (field_type === "list") {
            field_value = $("#@id  #field-value option:selected").val();
        }  else {
            console.log("Wrong field type: " + field_type);
        }

        var error = false;
        if (field_value != "") {
            // define contexts
            var contexts = [];
            contexts.push("https://clowder.ncsa.illinois.edu/contexts/metadata.jsonld");
            var context = {};
            context[field_label] = field_id;
            contexts.push(context);

            var content = {};
            if (field_type === "listgeocode") {
                // geocode example: "Champaign, IL, USA: 40.12, -88.24"
                var parts = field_value.split(":");
                content[field_label] = parts[0].trim();
                var lat_lng = parts[1].trim().split(",");
                content["Latitude"] = lat_lng[0].trim();
                content["Longitude"] = lat_lng[1].trim();
                //Todo: add lat/lon to context
            } else if (field_type === "scientific_variable") {
                content[field_label] = field_value;
                var unit_val = $("#@id #unit-value").val();
                if (unit_val) {
                    content["Unit"] = unit_val;
                    //Todo: add unit to context
                }
            } else if (field_type === "wkt") {
                try {
                    var primitive = Terraformer.WKT.parse(field_value);
                    content["GeoJSON"] = primitive;
                } catch(err) {
                    notify("There is an error in your WKT. " + err, "error", false, 2000);
                    error = true;
                }
            } else {
                content[field_label] = field_value;
            }

            var body = {
                    "@@context": contexts,
                    "content": content
            };

            if (!error) {
                var request = jsRoutes.api.Metadata.updateMetadata('@resType', '@id', entry_id).ajax({
                    data: JSON.stringify(body),
                    type: 'PUT',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                	//update changed value
                	if (field_value != "") {
                	  $("#"+entry_id).replaceWith($("<div/>").addClass("metadataentry").attr("id",response.id).append($("<span/>").text(response.value)));
			          addIcons($('#'+response.id));
                	} else {
                	//Todo: display update for non-simple type
                	alert("Refresh page to see updated value");
                	}
                	//Update modified date
                	var today = new Date();
        			var mon =m_names[today.getMonth()];
        			var day = today.getDate();
        			var year = today.getFullYear();
                	//modify date/person
  		   			$("#"+entry_id).closest('.mdblock').find('.metaprov').text('last modified ' + mon + ' ' + day + ', ' + year + ' by ').append($('<a/>').attr('href','@routes.Profile.viewProfileUUID(user.get.getMiniUser.id)').text('@user.get.getMiniUser.fullName'));
                	
                    // reset submission value
                    $("#@id  #selected_field").empty();
                    $("#@id #add-metadata-select").val('').trigger("chosen:updated");
                    
                    
                    if($('#'+'@contentDiv'+' .panel').length == 0) {
                        $('#' + "@contentDiv").empty();
                    }
                    $('html, body').animate({
        			  scrollTop: $("#" + response.id).closest('.mdblock').offset().top-50
	      			}, 1000);
	    
                    notify("Metadata successfully updated.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not added due to : " + errorThrown, "error");
                    }
                });
            }

        }
    }
    
    var fields = null;
    var url = jsRoutes.api.Metadata.getDefinitions();
    var showSpaceInfo = false;
    if("@resType" == "dataset") {
        if(spaceId == "") {
            url = jsRoutes.api.Datasets.getMetadataDefinitions("@id");
            showSpaceInfo = true;
        } else {
            url = jsRoutes.api.Datasets.getMetadataDefinitions("@id", spaceId);
        }
    } else if ("@resType" == "file") {
        if(spaceId == "") {
            showSpaceInfo = true;
            url = jsRoutes.api.Files.getMetadataDefinitions("@id");
        } else {
            url = jsRoutes.api.Files.getMetadataDefinitions("@id", spaceId);
        }

    } else if ("@resType" == "curationObject") {
        url = jsRoutes.api.CurationObjects.getMetadataDefinitions("@id");
    } else if ("@resType" == "curationFile") {
        url = jsRoutes.api.CurationObjects.getMetadataDefinitionsByFile("@id");
    }
    // get metadata definitions
    var request = url.ajax({
        type: 'GET',
        contentType: "application/json"
    });

    request.done(function (response, textStatus, jqXHR) {
        fields = response;
        for (var i = 0; i < fields.length; i++) {
            var elem = $("<option></option>");
            elem.attr("data-type", fields[i].json.type);
            elem.attr("data-id", fields[i].id);
            elem.attr("value", fields[i].json.uri);
            elem.attr("space_id", fields[i].spaceId);
            elem.text(fields[i].json.label);
            $("#@id  #add-metadata-select").append(elem);
        }
        // chosen pulldown configuration
        $("#@id  #add-metadata-select").chosen({
            search_contains: true,
            width: "100%",
            placeholder_text_single: "Select field"});
        // register selection listener
        $("#@id  #add-metadata-select").change(function () {
            $("#@id  #add-metadata-select option:selected").each(function() {displayAddEditForm(this, null);});
        });


        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "You must be logged in to retrieve metadata definitions";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
              notify("Metadata was not added due to : " + errorThrown, "error");
            }
        });
    });
    
      function editMDEntry(md_id) {
        //Use id to find uri for term, then use the <option> entry for that term to invoke an edit
        var uri = $("#" + md_id).closest(".mdblock").find(".pred").attr("title");
      
        displayAddEditForm($("#@id  #add-metadata-select option[value='" + uri+ "'] "), md_id);
        
        $('html, body').animate({
          scrollTop: $("#@id").offset().top-50
	      }, 1000);
	    
      }
      
      
     function displayAddEditForm(elem, md_id) {
                var space_id = $(elem).attr("space_id");
                var field_id = $(elem).val();
                var footerHtml = "";
                if(typeof space_id !== 'undefined' && showSpaceInfo) {
                    var request2 = jsRoutes.api.Spaces.get(space_id).ajax({
                        type: 'GET',
                        contentType: "application/json"
                    });
                    request2.done(function (response, textStatus, jqXHR) {
                        var footerTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/footer")");
                        var spaceName= response.name;
                        footerHtml = footerTemplate({'space_name': spaceName, 'space_url': jsRoutes.controllers.Spaces.getSpace(space_id).url, 'uri':field_id });
                        //Call after new html has been added to DOM tree
						setupField(elem, md_id, footerHtml);
                    });
                    request2.fail(function (jqXHR, textStatus, errorThrown){
                        setupField(elem, md_id, footerHtml);
                    });
                } else {
                    setupField(elem, md_id, footerHtml);
                }
            }
            
     function setupField(elem, md_id, footerHtml) {
            
                // create html form
                var field_label = $(elem).text();
                var field_id = $(elem).val();
                var field_type = $(elem).data("type");
                var space_id = $(elem).attr("space_id");
                var field_value =$("#" + md_id + " span").text();
                
                // Create the template and HTML content.
                var template_map =
                    {"string": "add_metadata_string",
                     "list": "add_metadata_list",
                     "listjquery": "add_metadata_listjquery",
                     "listgeocode": "add_metadata_string",
                     "scientific_variable": "add_metadata_scientific_variable",
                     "datetime": "add_metadata_datetime",
                     "wkt": "add_metadata_wktlocation"
                    };
                var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/")" + template_map[field_type]);
                var html = modalTemplate({'field_label': field_label, 'field_id': field_id, 'field_type': field_type, 'entry_id': md_id, 'field_value':field_value});
            
                $('#@id  #selected_field').html(html + footerHtml);
                // register submit listener
                if(md_id != null) {
                  $("#@id  #add-metadata-button").click(update_@id);
                } else {
                  $("#@id  #add-metadata-button").click(submit_@id);
                }
                
                //Do type-specific setup:
                if (field_type === "scientific_variable") {
                    // Find the field with the specific uri.
                    var field = $.grep(fields, function(e){ return e.json.uri == field_id; });
                    $("#@id  #field-value").catcomplete({
                        minLength: 3,
                        source: function( request, response ) {

                            var useSyn = $("#@id  #useSynonyms").prop("checked");
                            var query_param = field[0].json.query_parameter;
                            var url = encodeURIComponent(field[0].json.definitions_url + "?" + query_param + "=" + request.term + "&useSynonyms=" + useSyn);
                            $.ajax({
                                url: jsRoutes.api.Metadata.getUrl(url).url,
                                //dataType: "jsonp",
                                dataType: "json",
                                //data: { term: request.term, useSynonyms: useSyn },
                                success: function( data ) {
                                    // The vars list is in data.vars_data, and the categories in data.cat_data. Assuming that "listjquery" will use a URL that returns filtered data, we don't filter again. Returns cat_data with the vars listif present, otherwise returns the original data.
                                    if ('cat_data' in data) {
                                        var res = data.cat_data.concat(data.vars_data);
                                        response(res);
                                    } else {
                                        response(data);
                                    }
                                }
                            });
                        }
                    });
                    $("#@id #unit-value").autocomplete({
                        minLength: 1,
                        source: function( request, response ) {
                            var url = encodeURIComponent(field[0].json.definitions_url);
                            $.ajax({
                                url: jsRoutes.api.Metadata.getUrl(url).url,
                                dataType: "json",
                                success: function( data ) {
                                    if (! ('unit_data' in data)) {
                                        response(Array("Error: no unit_data field in the returned result."));
                                    } else {
                                        var searchspace = data.unit_data;
                                        var searchwords = request.term.split(" ");
                                        $.each(searchwords, function() {
                                            searchspace = $.ui.autocomplete.filter(searchspace, this);
                                        });
                                        response(searchspace);
                                    }
                                }
                            });
                        }
                    });
                } else if (field_type === "datetime") {
                    // This widget uses the ISO 8601 format, such as 2016-01-01T10:00:00-06:00 or 2016-01-01T10:00:00Z.
                    // This uses Trent Richardson's jQuery UI Timepicker add-on.
                    // jQuery UI Datepicker options: http://api.jqueryui.com/datepicker/
                    // jQuery UI Timepicker addon options: http://trentrichardson.com/examples/timepicker/
                    $("#field-value").datetimepicker(
                        { controlType: 'select',
                          // Uses "select" instead of the default slider.
                          // If we put "T" in the "separator" option instead of "timeFormat", the widget changes 2-digit year values xx we put directly into the field to 20xx; if we put "T" in timeFormat, then the year values are kept. So we used the latter.
                          dateFormat: $.datepicker.ISO_8601,
                          timeFormat: "'T'HH:mm:ssZ",
                          separator: '',
                          // Allows direct input.
                          timeInput: true
                        });
                } else if (field_type === "listjquery") {
                    // Find the field with the specific uri.
                    var field = $.grep(fields, function(e){ return e.json.uri == field_id; });
                    $("#@id #field-value").autocomplete({
                        minLength: 3,
                        source: function( request, response ) {
                            // Get the query parameter from the saved json, not hardcoded.
                            var query_param = field[0].json.query_parameter;
                            var url = encodeURIComponent(field[0].json.definitions_url + "?" + query_param + "=" + request.term);
                            $.ajax({
                                url: jsRoutes.api.Metadata.getUrl(url).url,
                                dataType: "json",
                                success: function( data ) {
                                    var searchspace = data;
                                    var searchwords = request.term.split(" ");
                                    $.each(searchwords, function() {
                                        searchspace = $.ui.autocomplete.filter(searchspace, this);
                                    });
                                    response(searchspace);
                                }
                            });
                        }
                    });
                } else if (field_type === "listgeocode") {
                    // Find the field with the specific uri.
                    var field = $.grep(fields, function(e){ return e.json.uri == field_id; });
                    $("#@id  #field-value").autocomplete({
                        minLength: 3,
                        source: function( request, response ) {
                            // Sets a variable query parameter in $.ajax.data below.
                            var query_param = field[0].json.query_parameter;
                            var url = encodeURIComponent(field[0].json.definitions_url + "?" + query_param + "=" + request.term);
                            $.ajax({
                                url: jsRoutes.api.Metadata.getUrl(url).url,
                                //dataType: "jsonp",
                                dataType: "json",
                                //data: query_data,
                                success: function( data ) {
                                    // Assuming that the remote service returns filtered data, no need to filter again.
                                    response(data);
                                }
                            });
                        }
                    });
                } else if (field_type === "list") {
                    // find field with the specific uri
                    var field = $.grep(fields, function(e){ return e.json.uri == field_id; });

                    // make call to external service
                    var request = jsRoutes.api.Metadata.getDefinition(field[0].id).ajax({
                        type: 'GET',
                        contentType: "application/json"
                    });

                    request.done(function (response, textStatus, jqXHR) {
                        var vocabulary = JSON.parse(response);
                        // modalTemplate was assigned above using the map.
                        var html = modalTemplate({'field_label': field_label, 'field_id': field_id, 'field_type': field_type,
                            'options': vocabulary});
                        $("#@id  #selected_field").html(html + footerHtml);
                        // chosen pulldown configuration
                        $("#@id  #field-value").chosen({
                            no_results_text: "Not found. Press enter to add ",
                            add_search_option: true,
                            search_contains: true,
                            width: "100%",
                            placeholder_text_single: "Select field"});
                        // register submit listener
                        if(md_id != null) {
                          $("#@id  #add-metadata-button").click(update_@id);
                        } else {
                          $("#@id  #add-metadata-button").click(submit_@id);
                        }
                      });

                    request.fail(function (jqXHR, textStatus, errorThrown){
                        console.error("The following error occured: " + textStatus, errorThrown);
                        notify("Could not retrieve external vocabulary: " + errorThrown, "error");
                    });
                }
              }
</script>
}
