@(metadata: List[models.Metadata], rdfMetadata: models.RdfMetadata, toDelete: Boolean)(implicit user: Option[models.User])
    @import java.net.URL
    @import play.api.libs.json.JsString
    @import play.api.libs.json.JsObject
    @import play.api.libs.json.JsValue
    @import play.api.libs.json.JsArray
    @import api.Permission
    @import play.api.libs.json._

@* This template is shown in the Dataset page and curationObject pages to display both Dataset and File -level metadata *@

    @dateFormatter(date: java.util.Date) = @{
        val formatter = new java.text.SimpleDateFormat("MMM d, yyyy")
        formatter.format(date)
    }
    
    @safe(key: String) = @{
        key.replace("/","_").replace(".","_").replace(":","_").replace(" ","_")
    }

    @printContent(agent: Agent, content: JsValue, contextId: Option[UUID], contextURL: Option[URL], resourceId: UUID) = {
        @content match {
            case o: JsObject => {
                <ul>
                    @for((key, value) <- o.fields) {
                        @value match {
                            case o: JsObject => {
                                <li class="md-block">
                                    <a class="collapse-icon">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    <!-- only with context and user (not extractor) generated -->
                                    @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                                        <!-- ids don't like spaces, you can use regex for removing different characters in metadata names (key) as well -->
                                        
                                        @defining(contextId.get + "-" + key.replaceAll("[() ]","") + "-" + resourceId.toString()) { mid =>
                                            @if(user.isDefined) {
                                                <a class='context-key' id='@{mid}' href="javascript:void(0)">@key</a><span>:</span>
                                            } else {
                                                @key:
                                            }
                                            @printContent(agent,value,contextId,contextURL,resourceId)
                                        }
                                    } else {
                                        @contextURL match {
                                            case Some(u) => {
                                                <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                                                @printContent(agent, value,contextId,contextURL,resourceId)
                                            }
                                            case None => {
                                                <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
                                            }
                                        }
                                    }
                                </li>
                            }
                            case o: JsArray => {
                                <li class="md-block">
                                    <a class="collapse-icon">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                                        @defining(contextId.get + "-" + key.replaceAll("[() ]","") + "-" + resourceId.toString()) { mid =>
                                            @if(user.isDefined) {
                                                <a class='context-key' id='@{mid}' href="javascript:void(0)">@key</a><span>:</span>
                                            } else {
                                                @key:
                                            }
                                            @printContent(agent,value,contextId,contextURL,resourceId)
                                        }
                                    } else {
                                        @contextURL match {
                                            case Some(u) => {
                                                <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                                                @printContent(agent,value,contextId,contextURL,resourceId)
                                            }
                                            case None => {
                                                <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
                                            }
                                        }
                                    }
                                </li>
                            }
                            case _ => {
                                <li class="md-block">
                                @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                                    @defining(contextId.get + "-" + key.replaceAll("[() ]","") + "-" + resourceId.toString()) { mid =>
                                            @if(user.isDefined) {
                                                <a class='context-key' id='@{mid}' href="javascript:void(0)">@key</a><span>:</span>
                                            } else {
                                                @key:
                                            }
                                            @if(key.equals("Creator")||key.equals("Contact")) {
                        						@printPerson(agent,value,contextId,contextURL,resourceId)
						                    } else {
                                                @printContent(agent,value,contextId,contextURL,resourceId)
                                            }
                                    }
                                } else {
                                    @contextURL match {
                                        case Some(u) => {
                                            <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                                            @printContent(agent,value,contextId,contextURL,resourceId)
                                        }
                                        case None => {<strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)}
                                    }
                                }
                                </li>
                            }
                        }

                    }
                </ul>
            }
            case a: JsArray => {
                <ul>
                @for((value, i) <- a.value.zipWithIndex) {
                    <li class="md-block">@printContent(agent,value,contextId,contextURL,resourceId)</li>
                }
                </ul>
            }
            case s: JsString => {
                @if(s.value.startsWith("http")) {
                    <a target="_blank" href="@s.value">@s.value</a>
                } else {
                    @s.value
                }
            }
            case _ => {@content}
        }
    }

    @printPerson(agent: Agent, content: JsValue, contextId: Option[UUID], contextURL: Option[URL], resourceId: UUID) = {
    	@content match {
    		case s: JsString => {
    			@if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined) {
    				<span class='person'>@s.value</span>
    			} else {
    				@if(s.value.startsWith("http")) {
                    	<a target="_blank" href="@s.value">@s.value</a>
                	} else {
                    	@s.value
	                }
                }
            }
            case _ => {@content}
        }
	}

    @printHeader(agent: Agent, date: java.util.Date) = {
        @agent.operation by
        @if(agent.displayName.length > 0) {
            @if(agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                @if(user.isDefined) {
                    <a href= "@routes.Profile.viewProfileUUID(agent.asInstanceOf[UserAgent].user.id)">@agent.displayName</a>
                } else {
                    @agent.displayName
                }
            } else {
                @if(agent.url.isDefined) {
                    <a href="@agent.url" target="_blank">@agent.displayName</a>
                } else {
                    @agent.displayName
                }
            }
        } else {
            @if(agent.url.isDefined) {
                <a href="@agent.url" target="_blank">@agent.url</a>
            } else {
                unknown
            }
        }
        on @dateFormatter(date)
    }

   @getProfile(userid: String) = {
   	 @defining(""".*/api/users/([^\?]+).*""".r) {profile =>
   	 	@userid match {
        	case profile(g) => {
        		@routes.Profile.viewProfileUUID(UUID(g))
        	}
        	case _ => {
        		@routes.Profile.viewProfileUUID(UUID("000000000000000000000000"))
        	}	
        }
     }
   }
   
    @printNewHeader(firstEvent: Boolean, agentString: String, date: java.util.Date) = {
      @defining(Json.parse(agentString)) {agent => 
        @defining((agent \ "@type").as[String]) {agenttype =>  
    	  @if(agent != null) {
    	    @if(firstEvent) {

    		  @agenttype match {
    		    case "cat:user"  => {
    			  added
    			}
    		    case "cat:extractor" => {
    			  extracted
    			}
    		  }
    		} else {
			last modified
		    }

            @dateFormatter(date)
            by 
        		
            @if((agent \ "name").as[String].length > 0) {
        	  @agenttype match  {
    		    case "cat:user"  => {
    		      @if((agent \ "user_id").isInstanceOf[JsString]) {
                    <a href= "
                    @getProfile(((agent \ "user_id").as[String]))
        		    ">@((agent \ "name").as[String])</a>
                  } else {
                    @((agent \ "name").as[String])
                  }
      		    }
    		    case "cat:extractor" => {
    		      @if((agent \ "extractor_id").isInstanceOf[JsString]) {
                    <a href= "@((agent \ "extractor_id").as[String])">@((agent \ "name").as[String])</a>
                  } else {
                    @((agent \ "name").as[String])
                  }
    		    }
    		  }
    		} else {
              @if((agent \ "user_id").isInstanceOf[JsString]) {
                <a href=@getProfile(((agent \ "user_id").as[String]))" target="_blank">@((agent \ "user_id").as[String])</a>
              } else {
                @if((agent \ "extractor_id").isInstanceOf[JsString]) {
                  <a href="@((agent \ "extractor_id").as[String])" target="_blank">@((agent \ "extractor_id").as[String])</a>
                } else {
                  unknown
                }
              }
            }
          }
    	}
      }
    }


@*The Start
IN the new model, we'll have a set of {category, label, URI, type} entires from the space (or default) and
a set of {URI, value, agent, date} entries ???
There is probably more history than just the latest agent/date once editing is allowed... so this becomes a list of id/agent/action/date values???
 for multivalues - where do deletes get shown?
*@


	@if(rdfMetadata!=null) {
		<div>
		@for((label, value) <- rdfMetadata.entries) {
		  <div class="mdblock panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@safe(label)">
                <a data-toggle="collapse" href="#collapse_@safe(label)" class="collapse-icon">
                    <span class="panel-icon glyphicon glyphicon-minus"></span>
                </a>
                <span>
                    <span class='pred' title='@rdfMetadata.defs.apply(label)'>@label</span>
                </span>
                <span class='metaprov'>
                @defining(rdfMetadata.history.apply(label)) {list =>  
				
			@printNewHeader(list.length==1, list.head.agent, list.head.date) 
			</span>
			</div>
			
						<div id="collapse_@safe(label)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@safe(label)">
                <div class="panel-body">
                    <div class="tree">
			
			@value match {
				case o: JsObject => {
					@for((k,v) <- o.value) {
					  <div class="metadataentry" id='@k'>
						@v match {
							case s: JsString => {
								<span
								@if(rdfMetadata.defs.apply(label) == "http://purl.org/dc/terms/contact") {
								class = 'person'
								}
								>@s.value</span>
				
							
							}
						}
					</div>
					}
				
					}
					
				case s: JsString => {
					<div class="metadataentry">
					<span>Shouldn't happen! @s.value</span>
					@if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, ResourceRef(ResourceRef.metadata, list.head.id))) {
                <a id="@list.head.id" title="Delete this metadata" class="btn-link delete-icon">
                  <span class="panel-icon glyphicon glyphicon-trash  hidden"></span>
                </a>
                }
                	@if(toDelete && Permission.checkPermission(Permission.EditMetadata, ResourceRef(ResourceRef.metadata, list.head.id))) {
						   <a id="@list.head.id" title="Edit metadata" class="btn-link edit-icon">
					<span class="glyphicon glyphicon-edit  hidden"></span>
					</a>
				
					}
						
                </div>
                
					}
              }
					
			</div>
			</div>
			</div>
			</div>
			
			
			}
			}
		
		</div>
		<div>
		@for((label, pred) <- rdfMetadata.defs) {
            
			<div><span>@label</span><span>@pred</span></div>
			
		}
		</div>
		<div>
		@for((label, list) <- rdfMetadata.history) {
			<div>
			@for((item) <- list) {
			<div>
			<div>@label</div>
			<div>@item.uri</div>
			<div>@item.value.toString()</div>
			<div>@item.agent.toString()</div>
			<div>@item.action</div>
			<div>@item.date.toString()</div>
			</div>
		}
		</div>
		}
		</div>
	}
	 
    @if(metadata.size == 0) {
        <p class="text-center">No metadata available for this resource</p>
    }
    @for((m, i) <- metadata.zipWithIndex) {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@m.id">
                <a data-toggle="collapse" href="#collapse_@m.id" class="collapse-icon">
                    <span class="panel-icon glyphicon glyphicon-minus"></span>
                </a>
                <span>
                    @printHeader(m.creator, m.createdAt)
                </span>
                @if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, ResourceRef(ResourceRef.metadata, m.id))) {
                        <a id="@m.id" title="Delete this metadata" class="btn btn-link delete-icon">
                            <span class="panel-icon glyphicon glyphicon-trash"></span>
                        </a>
                }
            </div>
            <div id="collapse_@m.id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@m.id">
                <div class="panel-body">
                    <div class="tree">
                        @printContent(m.creator, m.content, m.contextId, m.contextURL, m.attachedTo.id)
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    @if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined) {
    <script src="@routes.Assets.at("javascripts/people.js")" type="text/javascript"></script>
    }
       
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            @*Collapse/expand for metadata entries*@
            $('.collapse')
                .on('shown.bs.collapse', function(){
                    $(this).parent().find(".panel-icon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                })
                .on('hidden.bs.collapse', function(){
                    $(this).parent().find(".panel-icon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                });

            @*Collapse/expand for json/tree metadata values*@
            $('.tree li').on('click', function (e) {
                var children = $(this).find('> ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                } else {
                    children.show('fast');
                    $(this).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                }
                e.stopPropagation();
            });

            @if(rdfMetadata!=null) {
               if(@Permission.checkPermission(Permission.EditMetadata, rdfMetadata.attachedTo)) {

               $('.metadataentry').each(function(index) {
               addIcons($(this));
               });
                 $(document).on('mouseenter', '.metadataentry', function(ev) {
                 
                    $(this).find('.edit-icon').removeClass("hidden");
                    $(this).find('.edit-icon').addClass("inline");
                    $(this).find('.delete-icon').removeClass("hidden");
                    $(this).find('.delete-icon').addClass("inline");
                    
                 }).on('mouseleave', '.metadataentry', function() {
                    $(this).find('.edit-icon').removeClass("inline");
                    $(this).find('.edit-icon').addClass("hidden");
                    $(this).find('.delete-icon').removeClass("inline");
                    $(this).find('.delete-icon').addClass("hidden");
                    
                 });
                 }
                 }
            
        })

        $(function () {
            $('.edit-icon').unbind().on('click', function(){
                var edit_icon = $(this);

                var request = jsRoutes.api.Metadata.updateMetadata(this.id).ajax({
                    type: 'PUT'
                });

                request.done(function (response, textStatus, jqXHR) {
                    edit_icon.closest(".panel").remove();
                    notify("Metadata successfully edited.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not edited due to : " + errorThrown, "error");
                    }
                });
            });
        })
        
        
        $(function () {
            $('.delete-icon').unbind().on('click', function(){
                var delete_icon = $(this);
				var header = $(this).parents('.mdblock');
				var pred = header.find('.pred').attr('title');
                var request = jsRoutes.api.Metadata.removeMetadata('@rdfMetadata.attachedTo.resourceType.name','@rdfMetadata.attachedTo.id.toString', pred, $(this).parent().attr('id')).ajax({
                    type: 'DELETE'
                });

                request.done(function (response, textStatus, jqXHR) {
                    if(delete_icon.closest(".tree").children().length == 1) {
                      delete_icon.closest(".mdblock").remove(); } 
                    else {
                      delete_icon.closest(".metadataentry").remove();
                    }
                    notify("Metadata successfully deleted.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not removed due to : " + errorThrown, "error");
                    }
                });
            });
        })

        $(document).on('mouseenter', '.context-key', function(){
            var contextId = this.id.split("-",1)[0];
            getMetadataContext(this.id, contextId, this.textContent)
        });

        $(document).on('mouseleave', '.context-key', function(){
            leaveMetadataContext(this.id)
        });

        // get metadata definitions
        function getMetadataContext(mid, uuid, key) {
            var request = jsRoutes.api.ContextLD.getContextById(uuid).ajax({
                type: 'GET',
                contentType: "application/json"
            });
            $("#"+mid).addClass("popping");

            request.done(function (response, textStatus, jqXHR) {
                var fields = response;
                var context = "Context is not defined.";
                if (fields['@@context']) {

                    //FixME - current context is an array and one must retrieve the child object with the key in it.
                    //The next line returns nothing
                    context = JSON.stringify(fields['@@context'][key]);
                }
                
                $("#"+mid).popover({
                    content:context,
                    placement:'top',
                    template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });
                $("#"+mid).popover('show');
                if (!$("#"+mid).hasClass("popping")) {
                    setTimeout(leaveMetadataContext, 500, mid);
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
            	$("#"+mid).removeClass("popping");
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Metadata context was not shown due to : " + errorThrown, "error");
                }
            });
        }
        
        function leaveMetadataContext(mid) {
            $("#"+mid).removeClass("popping");
            $("#"+mid).popover('hide');
        }
        
        var defs = {};
        @for((label, value) <- rdfMetadata.defs.dropRight(1)) {
        	defs["@label"] = "@value";
        }
        
        
      function addEntries(update) {
      
        var items = update.entries;
        //update overall list
        for(var key in update.defs) {
          defs[key] = update.defs[key];
        }
        var newdefs = update.defs;

        for(var key in items) {
         if(!$("#heading_" + safe(key)).length) {
         //Add header block
           var blockid = 'heading_' + safe(key);
           var m_names = new Array("Jan", "Feb", "Mar", 
			"Apr", "May", "Jun", "Jul", "Aug", "Sep", 
			"Oct", "Nov", "Dec");
           var today = new Date();
           var mon =m_names[today.getMonth()];
           var day = today.getDate();
           var year = today.getFullYear();
           $('#metadata-content > div:first-child').prepend($('<div/>').addClass('mdblock panel panel-default').append($('<div/>').addClass('panel-heading').attr('role','tab').attr('id',blockid)));
           $('#'+blockid).append($('<a/>').attr('data-toggle','collapse').attr('href','#collapse_' + safe(key)).addClass('collapse-icon').append($('<span/>').addClass('panel-icon glyphicon glyphicon-minus')));
           $('#'+blockid).append($('<span/>').append($('<span/>').addClass('pred').attr('title',defs[key]).text(key)));
           $('#'+blockid).append($('<span/>').addClass('metaprov').text('added ' + mon + ' ' + day + ', ' + year + ' by ').append($('<a/>').attr('href','@routes.Profile.viewProfileUUID(user.get.getMiniUser.id)').text('@user.get.getMiniUser.fullName')));
           $('#'+blockid).parent().append($('<div/>').attr('id','collapse_'+safe(key)).addClass('panel-collapse collapse in').attr('role','tabpanel').attr('aria-labelledby',blockid).append($('<div/>').addClass('panel-body').append($('<div/>').addClass('tree')))); 
         }
         //Now add new entries
         for(mEntry in items[key]) {
           $("<div/>").prependTo($("#collapse_" + safe(key) + " .tree")).addClass("metadataentry").attr("id",mEntry).append($("<span/>").text((items[key])[mEntry]));
           addIcons($('#'+mEntry));
         }
        }
      }
        
        function addIcons(entry) {
        	@if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, rdfMetadata.attachedTo)) {
	        	entry.append($("<a/>").attr("title","Delete this metadata").addClass("btn-link delete-icon hidden").append($("<span/>").addClass("panel-icon glyphicon glyphicon-trash")));
		        entry.append($("<a/>").attr("title","Edit metadata").addClass("btn-link edit-icon hidden").append($("<span/>").addClass("glyphicon glyphicon-edit")));
        	}
        }
        
        function safe(name) {
        	return name.replace(/\//g,"_").replace(/\./g,"_").replace(/\:/g,"_").replace(/ /g,"_")
        }
    </script>