@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo], token: String)(implicit request: RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }
@import play.api.Play.current

@main(Messages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-info">
            @msg
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete= "off"
          method="POST"  id="registerSubmit"
    >
        <fieldset>
            @if( UsernamePasswordProvider.withUserNameSupport ) {
                @helper.inputText(
                    signUpForm("userName"),
                    '_label -> Messages("securesocial.signup.username"),
                    'class -> "input-xlarge"
                )
            }

            @helper.inputText(
                signUpForm("firstName"),
                '_label -> Messages("securesocial.signup.firstName"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("lastName"),
                '_label -> Messages("securesocial.signup.lastName"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="submitBtn">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn btn-default" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    </form>
    <script>
    	
    	$("#submitBtn").click(function( event ) {
			var isInputValid = true;
			if($("#firstName").val().trim().length == 0){
				alert("First Name must not be empty");
				isInputValid = false;
			}
			else if($("#lastName").val().trim().length == 0){
				alert("Last Name must not be empty");
				isInputValid = false;
			}
			else if($("#password_password1").val().trim().length < 8){
				alert("Password must not be empty and must be at least eight characters");
				isInputValid = false;
			}
			else if($("#password_password2").val() != $("#password_password1").val()){
				alert("Passwords do not match");
				isInputValid = false;
			}
			
			if(!isInputValid){
				location.reload();
			}
		
    	});
    	
    	$("#registerSubmit").submit(function( event ) {
    		
    		var isInputValid = true;
			if($("#firstName").val().trim().length == 0){
				isInputValid = false;
			}
			else if($("#lastName").val().trim().length == 0){
				isInputValid = false;
			}
			else if($("#password_password1").val().trim().length < 8){
				isInputValid = false;
			}
			else if($("#password_password2").val() != $("#password_password1").val()){
				isInputValid = false;
			}			
			if(isInputValid){
				var data = {};
				data['name'] = $("#firstName").val()+" "+$("#lastName").val();
				data['email'] = "@(securesocial.core.UserService.findToken(token).get.email)";
			
	    		var request = $.ajax({
					url:  "@api.routes.Users.initRights",
					data: JSON.stringify(data),
					type: "POST",
					async: false,
					contentType: "application/json",
		     	});
				request.done(function (response, textStatus, jqXHR){ 
					console.log("Response: " + response);
				});
				request.fail(function (jqXHR, textStatus, errorThrown){ 
					console.error("The following error occured while setting user access rights: " + textStatus, errorThrown);
					alert("The user was not registered due to error setting user access rights, due to : " + errorThrown);
					event.preventDefault();
					return false;
				});	
			}
			else{
				event.preventDefault();
				return false;
			}		
		});
    </script>

    @defining(play.api.Play.configuration.getString("https.port").getOrElse("")){ httpsPort =>
	    <script>
	    	if(window.location.protocol == "http:" && @(!httpsPort.equals(""))){
	    		window.location.replace("https://" + window.location.hostname + ":" + @(httpsPort) + window.location.pathname + window.location.search );
	    	}	    
	    </script>
    }
}

