@(subscriptions: List[models.Subscriber], isFB: Boolean)(implicit user: Option[securesocial.core.Identity])

@main("New news feed") {
	<div class="page-header">
		<h1>New news feed.</h1>
	</div>
	@if(!isFB){
		<script src="@routes.Assets.at("javascripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
		<script>
			tinymce.init({selector:'.notesArea',
		    	theme: "modern",
		    	plugins: [
		    	          "advlist autolink lists link image charmap print preview hr anchor pagebreak",
		    	          "searchreplace wordcount visualblocks visualchars code fullscreen",
		    	          "insertdatetime media nonbreaking save table contextmenu directionality",
		    	          "template paste textcolor"
		    	      ],
		    	      toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
		    	      toolbar2: "print preview media | forecolor backcolor emoticons",
		    	      image_advtab: true,
		    	      templates: [
		    	          {title: 'Test template 1', content: 'Test 1'},
		    	          {title: 'Test template 2', content: 'Test 2'}
		    	      ]
		    });
		</script>
	}
	<div class="row">
		<div class="col-md-8" id="editCol">
			<form class="form-inline" style="margin-top:20px;">
				<div id="noteContainer_feed" style="display:none;">
				</div>
				<div id="noteEditor_feed" style="display:block; margin-bottom:15px;">
					<textarea name="content" class="notesArea" id="noteField_feed" style="width:100%;"></textarea>
					@if(isFB){
						<table>
							<tr>
								<td><label for="linkField_feed">Link URL:</label></td>
								<td><input type="text" id="linkField_feed" value=""></td>
								<td>
									<span id="linkField_feed_error_url" style="display:none;">Invalid URL</span>
									<span id="linkField_feed_error_nourl" style="display:none;">Cannot post link elements without a link URL</span>
								</td>								
							</tr>
							<tr>
								<td><label for="linkFieldName_feed">Link name:</label></td>
								<td><input type="text" id="linkFieldName_feed" value=""></td>
								<td></td>								
							</tr>
							<tr>
								<td><label for="linkFieldDescr_feed">Link description:</label></td>
								<td><textarea id="linkFieldDescr_feed" rows="5"></textarea></td>
								<td></td>								
							</tr>
							<tr>
								<td><label for="linkFieldImg_feed">Image URL:</label></td>
								<td><input type="text" id="linkFieldImg_feed" value=""></td>
								<td><span id="linkFieldImg_feed_error" style="display:none;">Invalid URL</span></td>									
							</tr>						
						</table>
						<p style="color:red;display:none;" id="nocontent_feed_error">Must supply either a URL or a message.</p>								
					}
				</div>
				@if(!isFB){
					<button class="btn btn-default" onclick="return openForEdit();" style="display:none;" id="noteEdit_feed">Edit</button>				
					<button class="btn btn-default" onclick="return openForPreview();" style="display:inline;" id="notePreview_feed">Preview</button>
				}		
				<button class="btn btn-default" onclick="return postFeed();" style="display:inline;" id="notePost_feed">Post</button>				
			</form>
		</div>
		
		<div class="col-md-4">
				<h3>To be sent to:</h3>
				<table class="table" id="allSubscribers">
				     <tbody>
					    @for(s <- subscriptions) {
					      <tr>
					      	<td><input type="checkbox" name="@(s.name + " " + s.surname)" value="@s.email.getOrElse(s.FBIdentifier.get)" checked="checked"></td>
							<td>
								@(s.name + " " + s.surname)
							</td>
							<td>
								@s.email.getOrElse("Facebook identifier: " + s.FBIdentifier.get)
							</td>										
						  </tr>
						}
					</tbody>
				</table>
				<button class="btn btn-default" onclick="toggleAll();" id="checkUncheckAll">Deselect all</button>
		</div>
	</div>
	<script language="javascript">
			window['selectDeselectAll'] = "deselect";
	
			function postFeed() {
								
					var posturl = "@api.routes.Subscribers.sendFeed"
					var subscribersString = "";
					var subscribersArray = new Array();
					
					$("#allSubscribers :checkbox:checked").each(function() {
		        	    var thisIdentifier = $(this).val();
		        	    subscribersString = subscribersString + ", " + thisIdentifier;
		        	    subscribersArray.push(thisIdentifier);	        	    
		        	});
					if(subscribersString != "")
						subscribersString = subscribersString.substring(2);
				
				var dataJSON = "";
				var html = "";
				if(typeof tinyMCE != 'undefined'){
					html =  tinyMCE.get('noteField_feed').getContent();
					dataJSON = JSON.stringify({ feedHTML: html, subscribers: subscribersArray});
					console.log("Posting " + html + " to the following subscribers: " + subscribersString);
				}
				else{
					$("#noteField_feed span").css("display","none");
					$("#nocontent_feed_error").css("display","none");
					var isValid = true;
					
					html = $("#noteField_feed").val().trim();
					
					var regexp = /(http|https):\/\/(\w+:{0,1}\w*&#64;)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%&#64;!\-\/]))?/;
					var linkURL = $("#linkField_feed").val().trim();
					if(linkURL != "" && linkURL.indexOf("http://") != 0 && linkURL.indexOf("https://") != 0)
						linkURL = "http://" + linkURL;										
					if(!regexp.test(linkURL) && linkURL != ""){
						$("#linkField_feed_error_url").css("display","inline");
						isValid = false;
					}
					
					var imageURL = $("#linkFieldImg_feed").val().trim();
					if(imageURL != "" && imageURL.indexOf("http://") != 0 && imageURL.indexOf("https://") != 0)
						imageURL = "http://" + imageURL;					
					if(!regexp.test(imageURL) && imageURL != ""){
						$("#linkFieldImg_feed_error").css("display","inline");
						isValid = false;
					}
					
					var linkName = $("#linkFieldName_feed").val().trim();
					var linkDescr = $("#linkFieldDescr_feed").val().trim();
					
					if(linkURL=="" && (imageURL!="" || linkName!="" || linkDescr!="")){
						$("#linkField_feed_error_nourl").css("display","inline");
						isValid = false;
					}
					if(linkURL=="" && html==""){
						$("#nocontent_feed_error").css("display","inline");
						isValid = false;
					}
					
					if(!isValid)
						return false;
					
					dataJSON = JSON.stringify({ feedHTML: html, subscribers: subscribersArray, url: linkURL, image: imageURL, name: linkName, description: linkDescr});
					console.log("Posting " + html + " to the following subscribers: " + subscribersString);
				}
				
				var request = $.ajax({
					url:  posturl,
					data: dataJSON,
					type: "POST",
					contentType: "application/json",
		     	});
				request.done(function (response) { 
					console.log("Response: " + response);
					if(response.indexOf("Feed posted successfully.") >= 0 )
						alert("Feed posted successfully.");
					else
						alert(response);
				});
				request.fail(function (jqXHR, textStatus, errorThrown){
					console.error("The following error occured: " + textStatus, errorThrown);
					alert("The feed was not posted due to : " + errorThrown);
				});						
				return false;			
			}
			
			function openForPreview(){
				$('#noteContainer_feed').html(tinyMCE.get('noteField_feed').getContent());
				$('#noteEditor_feed').css("display","none");

				$('#noteContainer_feed').css("display","block");						
				$('#notePreview_feed').css("display","none");
				$('#noteEdit_feed').css("display","inline");
				
				return false;
			}
			
			function openForEdit(){
				$('#noteContainer_feed').css("display","none");
				$('#noteEditor_feed').css("display","block");	
				
				$('#noteEdit_feed').css("display","none");
				$('#notePreview_feed').css("display","inline");
				
				return false;
			}
			
			function toggleAll(){
				if(window['selectDeselectAll'] == "select"){					
					$("#allSubscribers :checkbox").prop('checked', true);
					window['selectDeselectAll'] = "deselect";
					$("#checkUncheckAll").html("Deselect all");
				}
				else{
					$("#allSubscribers :checkbox").prop('checked', false);
					window['selectDeselectAll'] = "select";
					$("#checkUncheckAll").html("Select all");
				}
				
			}
			
		</script>

}